.subcategory-container {
    margin-bottom: 10px;
    margin-top: 10px;
    .subtitle {
        color: #104B8E;
        font-weight: bold;
    }
    .subcategory {
    }
}

.bg-gray{
    background-color: #EBEDEF;
}